@font-face {
    font-family: 'ONY One';
    src: url('ONYOne-Medium.eot');
    src: url('ONYOne-Medium.eot?#iefix') format('embedded-opentype'),
        url('ONYOne-Medium.woff2') format('woff2'),
        url('ONYOne-Medium.woff') format('woff'),
        url('ONYOne-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ONY One';
    src: url('ONYOne-Regular.eot');
    src: url('ONYOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('ONYOne-Regular.woff2') format('woff2'),
        url('ONYOne-Regular.woff') format('woff'),
        url('ONYOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

