$red: #EA1F29;
$blue: #293484;
$blue_opacity30: #29348452;
$blue_opacity70: #2934847A;
$blue_opacity48:#29348448; 
$blue_opacity10: #2934841F;
$gray: #F2F3F5;
$gray2: #9DA0B2;
$white32: #FFFFFF52;
$white64: #FFFFFFA3;
$white_opacity32: #FFFFFF32;
