@import 'normalize';
@import 'root';

.hero {
    &__block {
        background-image: url("../img/hero.png");
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        .container {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    &__block-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__block-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__block-navbar-wrapper {
        display: flex;
        align-items: center;
    }
    &__block-navbar-links {
        nav {
            margin-left: 15px;
            ul {
                display: flex;
                gap: 12px;
                li {
                    a {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &__block-navbar-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        a {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 1%;
            display: flex;
            img {
                margin-left: 5px;
            }
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            transition: all 200ms ease-in-out;
            opacity: 1;
            &:hover {
                border-bottom: 2px solid #fff;
                opacity: .95;
            }
        }
    }
    &__block-navbar-social-links {
        a {
            border-right: 1px solid #FFFFFF3D;
            padding-right: 14px;
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
            &:hover {
                opacity: .8;
                border-bottom: 2px solid transparent !important;
            }
        }
    }
    &__block-navbar-logo {
        opacity: 1;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: .8;
        }
    }
    &__block-intro {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__block-intro-title {
        color: #fff;
        h5 {
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -2%;
            max-width: 400px;
            margin-bottom: 24px;
        }
        h1 {
            font-family: "ALS CSKA Regular";
            font-size: 128px;
            font-weight: normal;
            line-height: 84%;
            letter-spacing: 0%;
        }
    }
    &__block-intro-button {
        background-color: $red;
        max-height: 94px;
        height: 94px;
        display: flex;
        align-items: flex-end;
        position: relative;
        opacity: 1;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: .8;
        }
        a {
            color: #fff;
            min-width: 152px;
            min-height: 94px;
            width: 100%;
            height: 94px;
            display: flex;
            align-items: flex-end;
            padding-left: 12px;
            padding-bottom: 12px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0%;
            text-transform: uppercase;
        }
        img {
            position: absolute;
            top: 12px;
            right: 10px;
        }
    }
}